{% extends "profile.html" %}

{% block title %}Video Gallery{% endblock %}


{% block headers %} <!-- Left section replaced with upload form -->
 
{% endblock headers %}

{% block temp%}
  <h1>Video Gallery</h1>
  <div id="gallery" class="gallery-grid"></div>

  <!-- Player Modal -->
  <div id="playerModal" class="modal player-modal">
    <div class="modal-content player-content">
      <span id="closePlayer" class="close">&times;</span>
      <video id="videoPlayer" controls></video>
    </div>
  </div>

  

  

  
{% endblock %}
 


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', path='css/stream.css') }}">


{% endblock %}
{% block script %}
<script src="{{ url_for('static', path='js/stream.js')}}"></script>


{% endblock script %}


 



