{% extends "profile.html" %}

 


{% block headers %} <!-- Left section replaced with upload form -->
 
{% endblock headers %}

{% block temp%}
    
    <div class="upload">
    <!-- Video Upload Modal -->
    <div id="videoUploadModal" class="modal" >
      <h2>Video Upload</h2>
      <div class="postmodal-content">
        <form id="videoUploadForm">
          <div class="form-group">
            <label for="videoTitle">Title</label>
            <input type="text" id="videoTitle" placeholder="Enter video title" required>
          </div>

          <div class="form-group">
            <label for="videoDescription">Description</label>
            <textarea id="videoDescription" placeholder="Write a short description..." required></textarea>
          </div>

          <div class="form-group">
            <label for="videoTags">Tags</label>
            <input type="text" id="videoTags" placeholder="e.g. tutorial, coding, fastapi">
          </div>

          <div class="form-group">
            <label for="videoInput">Choose File</label>
            <input type="file" id="videoInput" accept="video/*" required>
          </div>

          <button type="button" id="startUploadVideoBtn" class="btn-primary">Upload</button>
        </form>
        <p id="videoUploadStatus" class="status"></p>
      </div>
    </div>

    <!-- Post Upload Modal -->
    <div id="postUploadModal" class="modal">
      <h2>Post Upload</h2>
      <div class="postmodal-content row">
        <div class="left">
          <img id="postPreview" src="" alt="Preview" />
        </div>
        <div class="right">
          <form id="postUploadForm">
            <div class="form-group">
              <label for="postTitle">Title</label>
              <input type="text" id="postTitle" placeholder="Enter post title" required>
            </div>

            <div class="form-group">
              <label for="postDescription">Description</label>
              <textarea id="postDescription" placeholder="Write a short description..." required></textarea>
            </div>

            <div class="form-group">
              <label for="postInput">Choose Image</label>
              <input type="file" id="postInput" accept="image/*" required>
            </div>

            <button type="button" id="startUploadPostBtn" class="btn-primary">Upload</button>
          </form>
        </div>
        <p id="postUploadStatus" class="status"></p>
      </div>
    </div>

    </div>
  
  

  

  

  
{% endblock %}
 


{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', path='css/upload.css') }}">


{% endblock %}
{% block script %}
<script src="{{ url_for('static', path='js/upload.js') }}"></script>
{% endblock script %}



 



