name: test

on:
    schedule:
        - cron: '* * * * *'  
     

jobs:

    test: 

        runs-on: ubuntu-latest

        steps: 
            - name: check connection
              run:  echo "connection successfull"

            - name: check_out user
              uses: actions/checkout@v3
            - name: setup_python
              uses: actions/setup-python@v4
              with:
                python-version: "3.10"

            - name: Install dependencies
              run: | 
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            

    install:

        needs: test
        runs-on: ubuntu-latest

        steps: 
            - name: check_out user
              uses: actions/checkout@v3
            - name: setup_python
              uses: actions/setup-python@v4
              with:
                python-version: "3.10"

            - name: Install dependencies
              run: | 
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            


        


